* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    background-color: skyblue;
}

body {
    font-family: monospace;
}

.input {
    text-align: center;
}

input[type='text']{
    height: 50px;
    width: 600px;
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    border: none;
}
p{font-size: 30px;}

