* {
    margin: 10px; 
    padding: 10px; 
    box-sizing: border-box;
    background-color: rgb(243, 243, 243);
}


body {
    font-family: monospace;
}

.input {
    text-align: center;
}

input[type='text']{
    height: 50px;
    width: 600px;
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 25px;
    
    padding: 20px; 
   
    
}
p{font-size: 25px;
}

.pointer { 
    cursor: pointer; 
}



